.header-logo{
    object-fit: contain;
    /* background-color: #2e186a; */
}

/* SocialMediaCard.css */
.social-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-card:hover {
    transform: scale(1.05);
  }
  
  .social-icon {
    font-size: 40px;
    margin-right: 15px;
    color: #1DA1F2; /* Change this color to match the social platform */
  }
  
  .social-details {
    flex-grow: 1;
  }
  
  .social-details h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .social-details p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  
  .social-followers {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  

  /*  team-card  */

  .team-card {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .team-card h3 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .team-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  .team-card span {
    font-size: 14px;
    color: #888;
  }
  
  .team-image {
    max-width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  /*  */

  .carousel-wrapper {
    position: relative;
  }
  
  .arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .prev-btn {
    left: -50px; /* Adjust this value based on your layout */
  }
  
  .next-btn {
    right: -50px; /* Adjust this value based on your layout */
  }
  
  .team-card {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-card h3 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .team-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  .team-card span {
    font-size: 14px;
    color: #888;
  }
  
  .team-image {
    max-width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin: auto;
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
  }
  